<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container-fluid">

        <h1 th:text="${title}"></h1>

        <h2>Welcome to Cars</h2>



    </div>

</body>
</html>
